  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add printer</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="md-dialog-content" layout="column">
    <md-input-container>
      <label>Name</label>
      <input ng-model="$ctrl.name">
    </md-input-container>
    <md-input-container>
      <label>Api key</label>
      <input ng-model="$ctrl.apikey">
    </md-input-container>
  </div>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="$ctrl.submit()">
      Submit
    </md-button>
  </md-dialog-actions>

