<md-content layout="row" flex layout-padding>
  <md-content layout="column" flex="40">
    <section layout="row" layout-align="space-between center">
      <md-button class="button md-raised md-primary" ng-click="$ctrl.addPrinter($event)" ng-disabled="!$ctrl.isSuperAdmin()">
        Add printer
      </md-button>
      <md-button class="button md-raised md-primary" ng-click="$ctrl.removePrinters($event)" ng-disabled="!($ctrl.printers | filter: {checked: true}).length || !$ctrl.isSuperAdmin()">
        Remove printers
      </md-button>
      <md-button class="button md-raised md-primary" ng-click="$ctrl.showSettings($event)" ng-disabled="!($ctrl.printers | filter: {checked: true}).length">
        Settings
      </md-button>
    </section>
    <md-content flex>
      <md-list class="border-classic" ng-if="$ctrl.printers">
        <md-list-item ng-repeat="printer in $ctrl.printers">
          <span>{{ printer.name }}</span>
          <md-checkbox class="md-secondary" ng-model="printer.checked" aria-label="Checked {{ printer.name }}"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-content>
  </md-content>
  <md-content layout="column" flex="40">
    <section layout="row" layout-align="end center">
      <md-button class="button md-primary md-raised" ng-click="$ctrl.addGroup($event)" ng-disabled="!$ctrl.isSuperAdmin()">
        Add group
      </md-button>
    </section>
    <md-content flex>
      <md-list class="border-classic" ng-if="$ctrl.groups">
        <group ng-repeat="group in $ctrl.groups" group="group" printers="$ctrl.printers"></group>
      </md-list>
    </md-content>
  </md-content>
  <md-content layout="column" flex ng-if="$ctrl.isSuperAdmin()">
    <section layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-click="$ctrl.addSuperAdmin($event)">
      Add superadmin
      </md-button>
    </section>
    <admin-settings flex class="border-classic"></admin-settings>
  </md-content>
</md-content>
