control {
  /*padding: 24px;*/
}

sidebar {
  border-right: 1px solid black;
}

printer {
  width: 26em;
  float: left;
  padding: 8px 19px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.temperature-input{
  width: 4em;
}

.blue {
  background-color: dodgerblue;
}

.box3, .box2, .box1 {
  display:flex;
  box-sizing: border-box;
  min-width:100%;
}

.box1 {
  max-height:70%;
  flex:1 1 70%;
}

.box2 {
  height:20px;
}

.box3 {
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}
