.grid{
  width: 26em;
  float: left;
}

.printer {
  padding: 8px 19px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: white;
}

.user-list{
  height: 10em;
  overflow-y: scroll
}

.border-classic {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.button {
  width: 33%;
}

.temperature-input{
  width: 4em;
}

.parek {
  min-height: 20px;
  height: 25px;
}
