control {
  padding: 24px;
}

sidebar {
  border-right: 1px solid black;
}

.blue {
  background-color: dodgerblue;
}

.box3, .box2, .box1 {
  display:flex;
  box-sizing: border-box;
  min-width:100%;
}

.box1 {
  max-height:70%;
  flex:1 1 70%;
}

.box2 {
  height:20px;
}

.box3 {
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}
